body {
    background-color: rgb(193, 238, 203);
}

.wrap {
    /* background-color: greenyellow; */
    width: 1200px;
    margin: 0 auto;
}


/* ここから下はアップロード画面のCSS */
.wrap .upload {
    background-color: rgb(112, 240, 129);
}

.wrap .upload h4 {
    text-align: center;
}

.wrap .upload #droparea {
    width: 300px;
    height: 200px;
    border: 2px  dotted #e60f0f;
    text-align: center;
    line-height: 180px;
    font-size: 16px;
    color: #ca0303;
    margin: 0 auto;
}

.wrap .upload .comment,
.wrap .upload #post_btn {
    text-align: center; 
    margin: 10px auto;
}

.wrap .upload .reset_btn {
    text-align: center; 
    margin: 10px auto;
}

.preview{
    max-width: 300px;
    margin: 0 auto;
    height: auto;
    /* margin-top: 20px; */
    /* display: none; */
    background-color: #f38080;
}



/* ここから下は投稿内容確認画面のcss */
.wrap .post {
    background-color: rgb(156, 238, 63)
}

.wrap .post h4 {
    text-align: center;
}

.wrap .post #post_field {
    background-color: aquamarine;
    margin: 0 auto;
    width: 90%;
    display: grid;/* グリッドベースという2次元の配列に変換する */
    /* grid-gap: 0; */
    grid-template-columns:repeat(2, 1fr); /* グリッドの数列と行数を指定 */
}

.wrap .post #post_field .post_details {
    background-color:white;
    width: 50%;
}

.wrap .post #post_field .post_details img {
    width: 100%;
}

.wrap .post #post_field .post_details p {
    text-align: center;
}
.wrap .post #post_field .post_details .like_button {
    text-align: center;
}



/* ここから先はレコメンドエリア */
.wrap .recommend {
    background-color: rgb(63, 238, 136);
}

.wrap .recommend h4 {
    text-align: center;
}

.wrap .recommend #recommend_field {
    background-color: rgb(127, 255, 170);
    margin: 0 auto;
    width: 90%;
}

.wrap .recommend #recommend_field .recommend_details {
    background-color:white;
    width: 50%;
    margin: 10px auto;
}

.wrap .recommend #recommend_field .recommend_details img {
    width: 100%;
}

.wrap .recommend #recommend_field .recommend_details p {
    text-align: center;
}
.wrap .recommend #recommend_field .recommend_details .like_button {
    text-align: center;
}